body {
    text-align:center;
    width:200px;
}

.display_border {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
    border: 1px solid;
}

.h{
    
    border-radius: 0px ;
    border:solid black 1px;
    background-color: #9da09dc6;
}
.k1{
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
}
.keyinp{
    margin-left: 5px;
    border-radius:0px;
    border: solid black 1px;
    width: 100%;
}
.display {
    
    border: none;
    outline: none;
    background: gray;
    cursor:auto;
    font-weight: bold;
}
.p{
    border: solid black 1px;
    margin-bottom: 3px;
    background-color: #c7c7c7;
    border-radius: 0px;
}
.p1{
    background-color: #c7c7c7;
    border: solid 1px;
    width: 100%;
    height: 35px;
    border-radius: 0px; 
}
.p2{
    background-color: #c7c7c7;
    border: solid 1px;
    width: 100%;
    
    border-radius: 0px;
}

.settings{
    border: black solid 1px;
}

.logs{
    border: black solid 1px;
}

button1 {

    cursor:pointer;
}

button1:hover{
    background-color: #4CAF50;
}

.calculator {
    margin-top: 1px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
}
.dell{
    background-color: rgba(70, 190, 186, 0.51);
}
.resl{
    background-color: rgba(255, 0, 0, 0.637);
}
.n{
    border: solid 1px;
    background-color: #979595fd;
}

.key {
    display: flex;
    margin: 2px;

}

.st {
    display: flex;
    margin-right: 0em;
    justify-content: flex-end;
}

.st_d {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
}