

.base{
    display: flex;
}

.def {
    padding: 5px;
}

.utils_list {
    border: 1px solid black;
    width: 20%;
    justify-content:left;
    overflow-x: auto;
}

.utils_area {
    border: 1px solid black;
    width: 80%;
    min-height: 90vh; 
}

.util_input{
    flex-direction: column;
    max-width: 40vh; 
}
.input_data {
    justify-content: flex-end;
}

.input_data_ins {
    width: 100%;
}